# Ignore filetypes
*.pyc
/python2env/
/.ipynb_checkpoints/
/.vscode/
/.idea/
/simple_rng/python2env/
/simple_rng/.ipynb_checkpoints/
/simple_rng/.vscode/
/simple_rng/.idea/

# Added by cargo
/target
/simple_rng/target
